<div class="row form-section">
  <div class="col-xs-12">
    <h1>Survey Builder</h1>
  </div>
</div>


<div class="row form-section">
  <div class="col-xs-12">
    <p><span id="build-survey">1. Build Survey</span> | <span id="add-questions">2. Add Questions</span></p>

    <h5>Title:</h5>
    <p><%= survey.title %></p>

    <h5>Description:</h5>
    <p><%= survey.description %></p>
  </div>

</div>